
{{> head}}

    {{> navbar }}

    <div class="row">
        <div class="col-8">
            <h1>Contacto al {{telefono}}</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/fibrosen_oficial.jpg" width="200" height="200" alt="fibrosen" class="img-thumbnail">
        </div>
    </div>

 {{>footer}}